@CHARSET "ISO-8859-1";
:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

body {
  background-image: url("images.jfif");
  background-repeat: no-repeat;
  background-size:cover;
}

.card-body{
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  background: white;
  margin-top: 10rem;
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 3rem;
  color:#258b47;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;

}
 
.form-signin .btn {
  font-size: 80%;
  border-radius: 3rem;
  letter-spacing: .2rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
  width:13rem;
  background-color:#258b47;
  
}
